<fieldset>
  <legend>Create/Edit Grape</legend>
  <!-- Name -->
  <p>
    <label for="name">Name</label>
    <textarea type="text" name="name" required/></textarea>
  </p>

  <!-- Type -->
  <p>
    <label for="type">Type</label>
    <select name="type" required>
          <option value="Red">Red</option>
          <option value="White">White</option>
          <option value="Rose">Rose</option>
    </select>
  </p>

  <!-- Description -->
  <p>
    <label for="description">Description</label>
    <textarea type="text" name="description" required/></textarea>
  </p>

  <!-- Pairings -->
  <p>
    <label for="pairings">Pairings</label><br />
    <select multiple name="pairings" size="10" required>
      <option value="Chicken">Chicken</option>
      <option value="Beef">Beef</option>
      <option value="Lamb">Lamb</option>
      <option value="Fish">Cooked Fish</option>
      <option value="Pasta">Pasta</option>
      <option value="Strawberry">Strawberries</option>
      <option value="Chilli">Chilli</option>
      <option value="BBQ">BBQ</option>
      <option value="Mushroom">Mushroom</option>
      <option value="Cream">Cream Sauce</option>
      <option value="Pizza">Pizza</option>
      <option value="Nuts">Nuts</option>
      <option value="Sushi">Sushi</option>
      <option value="Veggies">Veggies</option>
    </select>
  </p>

  <p>
    <label for="image">Image</label>
    <textarea type="text" name="image" required/></textarea>
  </p>


</fieldset>
