<fieldset>
  <legend>Create/Edit Grape</legend>
  <!-- Name -->
  <p>
    <label for="name">Name</label>
    <textarea type="text" name="name" required/></textarea>
  </p>

  <!-- Type -->
  <p>
    <label for="type">Type</label>
    <select name="type" required>
          <option value="Full-Bodied White">Full-Bodied White</option>
          <option value="Medium-Bodied White">Medium-Bodied White</option>
          <option value="Light-Bodied White">Light-Bodied White</option>
          <option value="Full-Bodied Red">Full-Bodied Red</option>
          <option value="Medium-Bodied Red">Medium-Bodies Red</option>
          <option value="Light-Bodied Red">Light-Bodied Red</option>
          <option value="Rose">Rose</option>
    </select>
  </p>

  <!-- Description -->
  <p>
    <label for="description">Description</label>
    <textarea type="text" name="description" required/></textarea>
  </p>

  <!-- Pairings -->
  <p>
    <label for="pairings">Pairings</label><br />
    <select multiple name="pairings" size="10" required>
      <option value="Chicken">Chicken</option>
      <option value="Shellfish">Shellfish</option>
      <option value="Beef">Beef</option>
      <option value="Lamb">Lamb</option>
      <option value="White Fish">Cooked Fish</option>
      <option value="Salmon">Salmon</option>
      <option value="Pork">Pork</option>
      <option value="Pasta">Pasta</option>
      <option value="Salad">Salad</option>
      <option value="Asian Food">Asian Food</option>
      <option value="Indian Food">Indian Food</option>
      <option value="Fresh Fruit"></option>
      <option value="Strawberry">Strawberries</option>
      <option value="Chilli">Chilli</option>
      <option value="BBQ">BBQ</option>
      <option value="Mushroom">Mushroom</option>
      <option value="Cream">Cream Sauce</option>
      <option value="Pizza">Pizza</option>
      <option value="Nuts">Nuts</option>
      <option value="Sushi">Sushi</option>
      <option value="Veggies">Veggies</option>
      <option value="Shrimp">Shrimp</option>
      <option value="Eggplant">Eggplant</option>
      <option value="Cream Sauce">Cream Sauce</option>
      <option value="Greek Food">Greek Food</option>
      <option value="Lasagna">Lasagna</option>
    </select>
  </p>

  <p>
    <label for="image">Image</label>
    <textarea type="text" name="image" required/></textarea>
  </p>


</fieldset>
