<fieldset>
  <legend>Create/Edit Grape</legend>
  <!-- Name -->
  <p>
    <label for="name">Name</label>
    <textarea type="text" name="name" required/></textarea>
  </p>

  <!-- Type -->
  <p>
    <label for="type">Type</label>
    <select name="type" required>
          <option value="red">Red</option>
          <option value="white">White</option>
          <option value="rose">Rose</option>
    </select>  </p>

  <!-- Pairings -->
  <p>
    <label for="pairings">Pairings</label><br />
    <select multiple name="pairings" required>
      <option value="chicken">Chicken</option>
      <option value="beef">Beef</option>
      <option value="lamb">Lamb</option>
      <option value="fish">Fish</option>
      <option value="pasta">Pasta</option>
      <option value="strawberrt">Strawberries</option>
    </select>
  </p>


</fieldset>
