<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wine About It</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="styles/stylesheet.css" />


</head>

<body>


  {{{body}}}


  <script src="/scripts/pronounce.js"></script>
  <script src="/scripts/filter-search.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>
