{{> navbar }}

<h2>Edit Grape</h2>
<form method="POST" action="/admin/grapes/{{grape._id}}?_method=PUT">

  {{> grapes-form}}


  <!-- Button -->
  <p>
    <button type="submit">Save Grape</button>
  </p>

</form>
