<a href="/login">Already a user? Login</a>

<form action="/sign-up" method="post">
  <legend>New User</legend>

  <label for="username">Username</label>
  <input type="text" name="username" class="form-control" id="user-username" placeholder="Username"/>

  <label for="password">Password</label>
  <input type="password" name="password" class="form-control" id="user-password" placeholder="Password" />

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
