body {
  margin: 0px;
  background-color: #210303;
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
}

h4 {
color: yellow;
}

/* Hero Section */
.hero {
height: calc(100vh - 125px);
width: 100%;
/* background: linear-gradient(rgba(44, 62, 80,.6), rgba(44, 62, 80,.6)); */
background-image: url("../images/vineyard.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
padding: 0px;
/* filter: hue-rotate(-100deg) brightness(50%); */
}

.hero-text {
z-index: 5;
height: calc(100vh - 50px);
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
font-family: "Trattatello";
filter: none;
}

.hero-text h1 {
margin-top: 0rem;
font-size: 7rem;
font-weight: 200;
color: lighten(white, 50%);
filter: none;
}

.homepage-selection{
display: flex;
justify-content: center;
}

.homepage-selection-card {
vertical-align: top;
padding-left: 3.5em;
padding-right: 3.5em;
display: inline-block;
text-align: center;
width: 200px;
}

.homepage-selection-card img {
  padding: 1.5em;
  padding-bottom: 0;
  border-radius: 90%;
  height: 150px;
  width: 150px;
}

.homepage-selection-card h3 {
color: white;
font-size: 2rem;
margin-bottom: 10px;
}

.homepage-selection-card p {
color: white;
font-size: .75rem;
}

.how-it-works {
text-align: center;
color: white;
width: 100%;
display: flex;
justify-content: center;
}

.how-it-works-card {
  width: 75%;
  margin-top: 75px;
}

.how-it-works-card h2{
margin-bottom: 40px;
font-size: 3rem;
margin-top: 0px;
}

.how-it-works-card p {
color: white;
}

.how-it-works p {
text-align: center;
font-size: 1rem;
}

.wine-backgrounds-container {
  height: calc(100vh - 75px);
  width: 100%;
  /* background: linear-gradient(rgba(44, 62, 80,.6), rgba(44, 62, 80,.6)); */
  background-image: url("../images/white-wine.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  filter:grayscale(20%) blur(0px);
}

.grape-index {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grape-index-card {
  text-align: center;
}

.grape-index-card h4{
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 35px;
}

.grape-index-card img{
  border-radius: 90%;
}

.one-grape {
  height: calc(100vh - 20vh);
  width: 100%;
}
.one-grape-card {
  display: flex;
  justify-content: center;

}

.one-grape-image {
  width: 50%;
  height: 50%;
  text-align: center;
}
.one-grape-image img {
  height: 300px;
  width: 300px;
  border-radius: 90%;
}

.one-grape-text {
  width: 45%;
  height: 45%;
  text-align: left;
  border-style: groove;
  padding: 10px;
}
